# Copy this file, rename the copy to '.env' and replace with your own vars below.
# Make sure the vars match your Laravel .env file.
# See https://docs.docker.com/compose/compose-file/#variable-substitution for reference

# This will tag your custom images so that they don't conflict with other project's images
COMPOSE_PROJECT_NAME=tangent-test

APP_SERVICE_TAGS=dev
APP_SERVICE_NAME=php-fpm
APP_USER=user

WEB_SERVICE_TAGS=dev
WEB_SERVICE_NAME=nginx

# EG: /home/your-user/docker_volumes/tangent-test/cache
CACHE_VOLUME=/path/to/docker_volumes/tangent-test/cache
CACHE_SERVICE_TAGS=dev
CACHE_SERVICE_NAME=redis

DB_VOLUME=/path/to/docker_volumes/tangent-test/database

# NB! Make sure these match with your laravel .env!
DB_NAME=tangent_local_db
DB_USER=tangent_local_db_user
DB_PASS=supersecretstring!
DB_SERVICE_TAGS=dev
DB_SERVICE_NAME=pgsql
DB_PATH_ON_CONTAINER=/var/lib/postgresql/data
